@model List<Car>
@{
}

<h2 class="text-center mb-5">List of Parking Cars</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Cars" asp-action="Create">Parking new car</a>
    </div>
    <div class="col">

    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Slot Number</th>
            <th>Vehicle Number</th>
            <th>Owner Name</th>
            <th>Contact Number</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Cost</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var car in Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.SlotNumber</td>
                <td>@car.VehicleNumber</td>
                <td>@car.OwnerName</td>
                <td>@car.ContactNumber</td>
                <td>@car.TimeIn.ToString("MM/dd/yyyy HH/mm")</td>
                <td>@car.TimeOut</td>  
                <td>@(car.Cost)$</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>